.content-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 380px;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.521);
    width: 700px;
    padding: 20px;
    border-radius: 10px;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header h3{
    color: rgba(31, 25, 25, 0.829);
    font-size: 30px;
    margin: 0;
}

.content-container span{
    margin: 15px 0;
    color: rgba(34, 29, 29, 0.534);
    font-weight: bold;
    text-align: left;
}

.close-btn{
    margin: 0;
    height: 30px;
    background: transparent;
    border: none;
}

.btn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(76, 112, 76, 0.527);
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    height: 30px;
    color: white;
    font-weight: bold;
}
